# Build Folders
bin/
obj/

# VS Code
.vscode/
.vs/

# Visual Studio
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# NuGet
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json

# Secrets
secrets.json
appsettings.*.json

# Test Results
TestResults/
*.trx
*.coverage

# IIS Publish
*.publish.xml

# Artifacts
artifacts/

# Others
Thumbs.db
Desktop.ini